.my-logo{
  /* display: inline-block; */
}
.name-style{
    color:#15e445;
    font-size: small;
}
.logo{
    width: 30px;
    height: 30px;
}
.items {
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.items:hover {
  color: #1dd848;
}
.menubar-container {
  background-color: #ffffff;
  
}

.nav-link {
  list-style: none;
  margin-right: 30px;
  font-size: 22px;
  font-weight: 600;
  color: rgb(201, 97, 97);
  cursor: pointer;
  padding: 7px;
  text-decoration: none;
}
.mylogos{
  list-style: none;
  text-decoration: none;
}
